// https://github.com/facebook/react-native/blob/master/.eslintrc
{
    "ecmaFeatures": {
        "jsx": true
    },

    "env": {
        "es6": true,
        "jasmine": true
    },

    "plugins": [
        "react"
    ],

    "globals": {
        "clearInterval": true,
        "document": true,
        "module": true,
        "React": true,
        "ReactDOM": true,
        "setInterval": true,
        "window": true
    },

    "extends": "eslint:recommended"
}
