@import '_reset.less';

html {
  font-size: 62.5%;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lemon', sans-serif;
  text-align: center;
  background: pink;
}

sup {
  font-size: 65%;
  vertical-align: top;
}

#fofs {
  font-size: 3.5rem;
  line-height: 1.25;
  overflow: auto;
  padding: 10% 1rem .5rem;
}

.total {
  font-size: 4rem;
  margin: 1rem 0 1.5rem;
}

.next-in {
  font-size: 1.8rem;
}

#countdown {
  margin-top: 3rem;
  font-size: 2rem;

  &:before {
    content: '❤';
    margin-right: 0.2rem;
  }

  &:after {
    content: '❤';
    margin-left: 0.2rem;
  }
}
